<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-F7cPHYSdE3FzBKvdxDKyFow9Y28Yq7KGHQOKpOI+rwc8s6jJnp///mpEJAib2EM6" crossorigin="anonymous">
	</head>
	<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">WEC Hackathon 2.0</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            
		  </nav>
		  
	<div style="margin-left:20px; margin-top:20px">
		
		<h2>Toxic message classifier</h2>
		<p><span class="badge badge-light">CLASSES:</span>
			{% for key in result.keys() %}
				{% if result[key][0] %}
					<span class="badge badge-success">{{ key }} : {{ result[key][1] }}%</span>
				{% else %}
					<span class="badge badge-dark">{{ key }} : {{ result[key][1] }}%</span>
				{% endif %}
			{% endfor %}									

		</p>
		
    <div class="form-group">

		<form action="/api" method="POST">
		<p>Enter Your Message Here</p>
		<input type="text" name="message" rows="4" cols="50" value="{{ default_message['api'] }}">
		<br/> </br>
		<input type="submit" class="btn btn-primary" value="Classify message">

		</form>
	</br>
		<form action="/link" method="POST">
			<p>Enter URL here</p>
			<input type="text" name="message" rows="4" cols="50" value="{{ default_message['link'] }}">
			<br/> </br>
			<input type="submit" class="btn btn-primary" value="Classify url">
		</form>
		<br>

		<form method="POST" action="/upload" enctype="multipart/form-data">
			<p>Upload audio file here</p>
			<input name="file" type="file" />
			<input type="submit" class="btn btn-primary" value="Upload" />
		</form>		
		
		
	</div>

</div>

	</div>

	
	
	<footer class="footer" style="margin-left:20px; margin-top:20px">
			<small>
			  Module made by <a href="https://github.com/aj163">Ashwin Joisa</a>,  <a href="https://github.com/archana98priya">Archana Sahoo</a> and <a href="https://github.com/sharanyakamath">Sharanya Kamath</a>
		  </small>
		  </footer>
</body>
</html>